<div class="page-header">
    <h2>{{ Schema }} {% trans %}schema{% endtrans %}</h2>
</div>

<form class="form-horizontal" method="POST" action="{{ path('padam87_attribute_schema_edit', {'id': Schema.getId()}) }}" {{ form_enctype(form) }}>
    <fieldset>
        {{ form_row(form._token) }}
        {{ form_row(form.name) }}
        {{ form_row(form.class) }}

        <table class="table">
            <caption>{{ form_label(form.groups) }}</caption>
            <thead>
            {% for field in form.groups.vars.prototype %}
                <th>
                    {{ form_label(field) }}
                </th>
            {% endfor %}
                <th>
                    <a class="btn pull-right" href="#" onclick="Prototype.add($('#groups')); return false;">
                        <i class="icon-plus"></i> {% trans %}add{% endtrans %}
                    </a>
                </th>
            </thead>

            {% set prototype %}
                <tr>
                {% for field in form.groups.vars.prototype %}
                    <td>
                        {{ form_errors(field) }}
                        {{ form_widget(field) }}
                    </td>
                {% endfor %}
                    <td>
                        <a class="btn pull-right" href="#" onclick="$(this).parents('tr:first').remove(); return false;">
                            <i class="icon-remove"></i> {% trans %}remove{% endtrans %}
                        </a>
                    </td>
                </tr>
            {% endset %}

            <tbody id="groups" data-prototype="{{ prototype|e }}">
            {% for group in form.groups %}
                <tr>
                {% for field in group %}
                    <td>
                        {{ form_errors(field) }}
                        {{ form_widget(field) }}
                    </td>
                {% endfor %}
                    <td>
                        <a class="btn pull-right" href="#" onclick="$(this).parents('tr:first').remove(); return false;">
                            <i class="icon-remove"></i> {% trans %}remove{% endtrans %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <table class="table">
            <caption>{{ form_label(form.attributes) }}</caption>
            <thead>
            {% for field in form.attributes.getVars().prototype %}
                <th>
                    {{ form_label(field) }}
                </th>
            {% endfor %}
                <th>
                    <a class="btn pull-right" href="#" onclick="Prototype.add($('#attributes')); return false;">
                        <i class="icon-plus"></i> {% trans %}add{% endtrans %}
                    </a>
                </th>
            </thead>

            {% set prototype %}
                <tr>
                {% for field in form.attributes.vars.prototype %}
                    <td>
                        {{ form_errors(field) }}
                        {{ form_widget(field) }}
                    </td>
                {% endfor %}
                    <td>
                        <a class="btn pull-right" href="#" onclick="$(this).parents('tr:first').remove(); return false;">
                            <i class="icon-remove"></i> {% trans %}remove{% endtrans %}
                        </a>
                    </td>
                </tr>
            {% endset %}

            <tbody id="attributes" data-prototype="{{ prototype|e }}">
            {% for attribute in form.attributes %}
                <tr>
                {% for field in attribute %}
                    <td>
                        {{ form_errors(field) }}
                        {{ form_widget(field) }}
                    </td>
                {% endfor %}
                    <td>
                        <a class="btn pull-right" href="#" onclick="$(this).parents('tr:first').remove(); return false;">
                            <i class="icon-remove"></i> {% trans %}remove{% endtrans %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans %}save{% endtrans %}</button>
    </div>
</form>

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/padam87attribute/js/prototype.js') }}"></script>
