<div class="page-header">
    <h2>{% trans %}schemas{% endtrans %}</h2>
</div>
<form class="form-inline clearfix" action="{{ path('padam87_attribute_schema_index') }}" method="GET" {{ form_enctype(form) }}>
    {% for name, field in form %}
        {% if name != '_token' %}
            {{ form_label(field) }}:
        {% endif %}
        {{ form_widget(field) }}
    {% endfor %}
    <button class="btn btn-primary pull-right">
        <i class="icon-search"></i> {% trans %}search{% endtrans %}
    </button>
</form>

<table class="orders-table table">
<thead>
    <tr>
        <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 's.class')|raw }}</th>
        <th class="actions">
            <a href="{{ path('padam87_attribute_schema_new') }}" class="btn btn-primary">{% trans %}add{% endtrans %}</a>
        </th>
    </tr>
</thead>
<tbody>
{% for Schema in pagination %}
    <tr>
        <td>
            <a class="" href="{{ path('padam87_attribute_schema_edit', {'id': Schema.getId()}) }}">
                {{ Schema }}
            </a>
        </td>
        <td class="actions">
            <a class="btn" href="{{ path('padam87_attribute_schema_delete', {'id': Schema.getId()}) }}">{% trans %}remove{% endtrans %}</a>
            <a class="btn" href="{{ path('padam87_attribute_schema_edit', {'id': Schema.getId()}) }}">{% trans %}edit{% endtrans %}</a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
<div class="pagination pull-left">
    <ul>
        {{ knp_pagination_render(pagination) }}
    </ul>
</div>
