{% block content %}
<div class="container">
    <div class="row">
        <div class="span12">

            <div class="slate">

                <div class="page-header">
                    <h2>{% trans %}schema.new{% endtrans %}</h2>
                </div>

                <form class="form-horizontal" method="POST" action="{{ path('padam87_attribute_schema_new') }}" {{ form_enctype(form) }}>
                    <fieldset>
                        {{ form_row(form._token) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.class) }}

                        <div class="control-group">
                            {{ form_label(form.attributes) }}

                            <div class="controls clearfix">
                                <ul id="attributes" data-prototype="{{ form_widget(form.attributes.vars.prototype)|e }}" class="unstyled">
                                {% for attribute in form.attributes %}
                                    <li>
                                        <a class="btn pull-right" href="#" onclick="$(this).parent('li').remove(); return false;">
                                            <i class="icon-remove"></i> {% trans %}remove{% endtrans %}
                                        </a>
                                        {{ form_errors(attribute) }}
                                        {{ form_widget(attribute) }}
                                        <hr />
                                    </li>
                                {% endfor %}
                                    <li>
                                        <a class="btn" href="#" onclick="Prototype.add($('#attributes'), $(this).parent('li')); return false;">
                                            <i class="icon-plus"></i> {% trans %}add{% endtrans %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="control-group">
                            {{ form_label(form.groups) }}

                            <div class="controls clearfix">

                                {% set group_prototype %}
                                    {{ form_widget(form.groups.vars.prototype.definition.name) }}

                                    <div class="control-group">
                                        {{ form_label(form.groups.vars.prototype.attributes) }}

                                        <div class="controls clearfix">
                                            <ul id="groups___name___attributes" data-prototype="{{ form_widget(form.groups.vars.prototype.attributes.vars.prototype)|e }}" class="unstyled">
                                            {% for attribute in form.groups.vars.prototype.attributes %}
                                                <li>
                                                    <a class="btn pull-right" href="#" onclick="$(this).parent('li').remove(); return false;">
                                                        <i class="icon-remove"></i> {% trans %}remove{% endtrans %}
                                                    </a>
                                                    {{ form_errors(attribute) }}
                                                    {{ form_widget(attribute) }}
                                                    <hr />
                                                </li>
                                            {% endfor %}
                                                <li>
                                                    <a class="btn" href="#" onclick="Prototype.add($('#groups___name___attributes'), $(this).parent('li'), /__groupid__/g); return false;">
                                                        <i class="icon-plus"></i> {% trans %}add{% endtrans %}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endset %}

                                <ul id="groups" class="unstyled" data-prototype="{{ group_prototype|e }}">
                                {% for group in form.groups %}
                                    {{ form_widget(group.definition.name) }}

                                    <div class="control-group">
                                        {{ form_label(group.attributes) }}

                                        <div class="controls clearfix">
                                            <ul id="groups___name___attributes" data-prototype="{{ form_widget(group.attributes.vars.prototype)|e }}" class="unstyled">
                                            {% for attribute in group.attributes %}
                                                <li>
                                                    <a class="btn pull-right" href="#" onclick="$(this).parent('li').remove(); return false;">
                                                        <i class="icon-remove"></i> {% trans %}remove{% endtrans %}
                                                    </a>
                                                    {{ form_errors(attribute) }}
                                                    {{ form_widget(attribute) }}
                                                    <hr />
                                                </li>
                                            {% endfor %}
                                                <li>
                                                    <a class="btn" href="#" onclick="Prototype.add($('#groups___name___attributes'), $(this).parent('li'), /__groupid__/g); return false;">
                                                        <i class="icon-plus"></i> {% trans %}add{% endtrans %}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}
                                    <li>
                                        <a class="btn" href="#" onclick="Prototype.add($('#groups'), $(this).parent('li')); return false;">
                                            <i class="icon-plus"></i> {% trans %}add{% endtrans %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{% trans %}save{% endtrans %}</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/padam87attribute/js/prototype.js') }}"></script>
{% endblock %}
